@charset "UTF-8";
/* 
	Background-Styles 
*/
.circle {
	display: block;
	position: absolute;
	top: 70px;
	left: 126px;
  	background: white;
  	border-radius: 50%;
  	border: 1px solid #3d6cb0;
  	height: 180px;
  	width: 180px;
  	
}
.circle1 {

	display: block;
	background: #3d6cb0;
	border-radius: 50%;
	height: 87.2%;
	width: 87.2%;
	margin: 6.4% auto;
}
.name {
	display: block;
	position: absolute;
	top: 253px;
	left: 66px;
	list-style-type: none;
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('fonts/MyriadProRegular.eot');
    src: url('fonts/MyriadProRegular.eot') format('embedded-opentype'),
         url('fonts/MyriadProRegular.woff2') format('woff2'),
         url('fonts/MyriadProRegular.woff') format('woff'),
         url('fonts/MyriadProRegular.ttf') format('truetype'),
         url('fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
}
@font-face {
  font-family: 'MyriadProBold';
    src: url('fonts/MyriadProBold.eot');
    src: url('fonts/MyriadProBold.eot') format('embedded-opentype'),
         url('fonts/MyriadProBold.woff2') format('woff2'),
         url('fonts/MyriadProBold.woff') format('woff'),
         url('fonts/MyriadProBold.ttf') format('truetype'),
         url('fonts/MyriadProBold.svg#MyriadProBold') format('svg');

}
li:first-child {
	font-size: 41px;
	font-family: MyriadProRegular;
	
}
li:nth-child(2) {
	font-size: 48px;
	font-family: MyriadProBold;
	line-height: 30px;
}
li:nth-child(3) {
	font-size: 19px;
	font-family: MyriadProBold;
	line-height: 50px;
	text-align: center;
}

.circle0 {
	display: block;
	position: absolute;
	top: 443px;
	left: 47px;
  	background: white;
  	border-radius: 50%;
  	border: 1px solid #3d6cb0;
  	height: 57px;
  	width: 57px;
  	
}

.circle01 {

	display: block;
	background: #3d6cb0;
	border-radius: 50%;
	height: 90%;
	width: 90%;
	margin: 5% auto;
}
img {
	 position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.profile {
	
}
hr {
	display: inline-block;
	vertical-align: middle;
}